# Node.js modules
node_modules/

# Environment files (for sensitive information)
.env

# Log files
*.log

# npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Package lock files (if using npm or yarn)
package-lock.json
yarn.lock

# OS files
.DS_Store
Thumbs.db

# Firebase acc key
/backend/firebaseConfig
/frontend/src/firebaseConfig.js
backend/scraplanta-dashboard-firebase-adminsdk-fazlk-3a465b9a8a.json